ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
doc/html-out
install-sh
libtool
libvdpau-*.tar.bz2
libvdpau-*.tar.gz
ltmain.sh
missing
.deps
.libs
*.lo
*.la
*.o
stamp-h1
test-driver
vdpau.pc
